/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: black;
    font-family: monospace;
    
}

button {
    position:relative;
    width: 150px;
    height:75px;
    display: flex;
    font-family: monospace;
    background-color: black;
    border-radius: 4px;
    border-color: white;
    font-size: large;
    font-weight: 500;
    color: white;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.container {
    padding-top: 100px;
    justify-content: center;
    font-family: monospace;
    align-items: center;
    text-align: center;
}
.contentstyle{
    padding: 20px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
    display: flex;
    border:2px solid white;
    border-radius: 4px;
    font-size: large;
    font-weight: 500;
    gap:5px;
    color:white;
    padding: 20px;
    width:300px;
    justify-content: center;
    align-items: center;
}

.div1 {
    position: relative;
    display: flex;
    gap:15px;
    justify-content: center;
    padding:  30px;
}

.div2 {
    position: relative;
    display: flex;
    gap:15px;
    justify-content: center;
    padding: 20px;
}
.replaydiv {
    position: relative;
    display: flex;
    gap:15px;
    justify-content: center;
    padding: 20px;
}

.playerscore { 
    position: relative;
    display: flex;
    border:2px solid white;
    border-radius: 4px;
    font-size: large;
    font-weight: 700;
    justify-content: center;
    gap:5px;
    color:white;
    padding: 20px;
    text-align: center;
}
.computerscore { 
    position: relative;
    display: flex;
    border:2px solid white;
    border-radius: 4px;
    font-size: large;
    font-weight: 700;
    justify-content: center;
    gap:5px;
    color:white;
    padding: 20px;
    text-align: center;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border:10px solid black;
    border-radius: 4px;
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    
}